# CHANGELOG

## {{ version }}

{% for section in changelog_sections %}
{% if section.commits %}
### {{ section.name | title }}

{% for commit in section.commits %}
* {{ commit.type | capitalize }}: {{ commit.subject }} ([{{ commit.hash[:7] }}](https://github.com/mindevis/QMServer/commit/{{ commit.hash }}))
{%- if commit.body %}
  {{ commit.body | indent(2) }}
{%- endif %}
{% endfor %}
{% endif %}
{% endfor %}